.img-responsive{
    margin-bottom:50px;
    border:solid;
    
}
.fa-clock-o{
    margin-right:15px;
}
.container{
    margin-top:75px;
    text-align:left;
}
.fa-download{
    margin-left:25px;
}
.fa-calendar{
    margin-right:15px;
}
.fa-bars{
    margin-right:15px;
}



