<div class=" container rounded bg-light border-bottom ">
  <h1>Welcome to Movies App</h1>
  <h5>find a movie -> download torrent</h5>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Curabitur mauris risus, hendrerit ut mollis ut, maximus ut turpis.
    Cras in massa tempor, euismod lorem ac, lobortis diam.
    In fermentum odio id dolor iaculis, vitae faucibus nisl mattis. Duis tincidunt vehicula velit, et lobortis diam porta ut.
    Nullam gravida quis nisl non cursus. Quisque ante sapien, iaculis in diam in, tempor tempor purus.
    Integer aliquam lobortis ex, quis commodo lectus bibendum eget.
    In ultrices vulputate tortor, ut lacinia elit rhoncus et. Pellentesque arcu elit, pellentesque non odio in, ultricies sodales nibh.
    Sed lobortis ligula at facilisis congue. Nunc vel arcu sed metus lacinia vehicula. Nullam non congue neque, a tempor arcu.
    Pellentesque pretium lacinia felis quis placerat
  </p>
</div>


<div class="container align-content-center">
  <form (ngSubmit)="(SearchMovie())" autocomplete="off">
    <div class="form-group">
      <div class="input-group input-group-lg">
          <button [disabled]="!movieName" class="btn btn-success btn1 btn-lg" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          <input (input)="movieName = $event.target.value" type="text" class="form-control form-control-sm" placeholder="Movie name">
      </div>
    </div>
  </form>
</div>


<form (ngSubmit)="searchGenre()">
  <div class="input-group">
    <button class="btn btn-info" style="margin-right:5px;" type="submit"><i class="fa fa-search"></i></button>
    <select class="form-control"
            [(ngModel)]="selectedGenre" name="genres">
      <option *ngFor="let gen of genres" [value]="gen">{{gen}}</option>
    </select>
  </div>
</form>

<div class="container">
  <app-movies-list [movies$]="movies"></app-movies-list>
</div>
