<div class="container rounded bg-light border-bottom pomakni">
  <div class="alert alert-info" >
    <strong>Information:</strong> Sign up now so you can get access to all the Torrents for free
  </div>
  <form (ngSubmit)="signUp('/')">
    <div class="form-group">
      <input name="username"
             [(ngModel)]="userSign.Username"
             class="form-control mr-sm-2"
             type="text"
             placeholder="Username">
      <input name="password"
             [(ngModel)]="userSign.password"
             class="form-control mr-sm-2"
             type="password"
             placeholder="Password">
      <button [disabled]="!(userSign.Username && userSign.password)" class="btn btn-info" style="margin-top:25px;" type="submit">Sign-up</button>
    </div>


  </form>
</div>
